<!-- wp:template-part {"slug":"header","theme":"stever-photography","tagName":"header"} /-->

<!-- wp:template-part {"slug":"post-filtering","theme":"stever-photography","area":"uncategorized"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":"20","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","displayLayout":{"type":"flex","columns":4},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-group" style="font-size:14px"><!-- wp:post-date {"isLink":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:igi-permalink/igi-permalink -->
<!-- wp:post-content /-->
<!-- /wp:igi-permalink/igi-permalink --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-group" style="font-size:14px"><!-- wp:post-terms {"term":"category","separator":""} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination {"paginationArrow":"chevron","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"stever-photography","tagName":"footer"} /-->